<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Page Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="preloader">
  <h2>Hold up</h2>
</div>
  <h1>Page Not Found</h1>
  <p>Sorry, but the page you were trying to view does not exist.</p>

  <script src="{% static 'js/vendor/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'js/vendor/modernizr-3.7.1.min.js'%}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js'%}"></script>
</body>

</html>