<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
    <div id="preloader">
  <h2>Hold up</h2>
</div>
  <meta charset="utf-8">
  <title>About me</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/about.css'%}">


  <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="menu-mobile" id="menu-mobile">
  <div class="menu-list-mobile">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/work/">Work</a></li>
      <li><a href="/about/">About me</a></li>
      <li><a href="/contact/">Contact me</a></li>
      <li id="close_menu_el">Close</li>
    </ul>
  </div>
</div>
<header class="header">
  <nav class="navigation desktop">
    <div class="logo">
      <a href="/"><img src="{% static 'img/png/clock_logo.png'%}" alt=""></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="/work/">Work</a></li>
        <li><a href="/about/">About me</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navigation mobile">
    <div class="logo">
      <a href="/"><img src="{% static 'img/png/clock_logo.png'%}" alt=""></a>
    </div>
    <div class="open-menu" id="open-menu">
      <p>Menu</p>
    </div>
  </nav>
  <div class="header-left">
    <img src="{% static 'img/jpg/photo.jpg'%}" alt="" class="vintage-image-header">
    <p class="mobile_text_about">Hi there! My name is Nodari. I'm from Ukraine. During four years I've been working on many different projects. I love create something new like design or soft or websites, it doesn't matter because the process of developing or drawing - is the best part on my work.</p>
  </div>
  <div class="header-right">
    <p>Hi there! My name is Nodari. I'm from Ukraine. During four years I've been working on many different projects. I love create something new like design or soft or websites, it doesn't matter because the process of developing or drawing - is the best part on my work.</p>
  </div>
  <a href="#article">
    <div class="down-link-header"></div>
  </a>
</header>
<article class="content" id="article">
  <div class="languages">
    <div class="heading-block">
      <h2>Some stuff I use</h2>
    </div>
    <div class="lan-space">
      <div class="lan-el">
        <p>HTML</p>
      </div>
      <div class="lan-el">
        <p>CSS</p>
      </div>
      <div class="lan-el">
        <p>JS</p>
      </div>
      <div class="lan-el">
        <p>Python</p>
      </div>
    </div>

  </div>
    <div class="canada">
    <h2>My dreams are somewhere in Canada</h2>
  </div>
  <div class="contact">
    <div class="container">
      <div class="heading-question">
        <h2>So, do you wanna</h2>
        <h2>Work with me?</h2>
      </div>
    </div>
    <div class="container">
      <h2 class="symbol">?</h2>
    </div>
    <div class="container">
      <div class="heading-question action">
        <h2>Now</h2>
        <a href="/contact/">click me</a>
      </div>
    </div>
  </div>
</article>
  <script src="{% static 'js/vendor/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'js/vendor/modernizr-3.7.1.min.js'%}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js'%}"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>
